In [1]:
import pandas as pd

In [6]:
df = pd.read_json("dataFull.json")
df.head()

,city,comments,country,datetime,durationMinutes,shape,state
0,benton,4 bright green circles high in the sky going i...,us,2010-01-01,5 mins.,circle,ar
1,bonita,Three bright red lights witnessed floating sta...,us,2010-01-01,13 minutes,light,ca
2,el cajon,On New Years Eve I went outside to hear the ce...,us,2010-01-01,6 minutes,triangle,ca
3,el cajon,3 Red objects hovering over El Cajon CA,us,2010-01-01,12 minutes,triangle,ca
4,fresno,Fresno cal. bright light hovers over head then...,us,2010-01-01,1 min,light,ca

In [7]:
df["shape"].value_counts()

light        5253
fireball     2870
circle       2806
triangle     2101
sphere       1843
unknown      1644
other        1387
oval         1074
disk          844
formation     797
changing      548
flash         448
cigar         398
rectangle     360
diamond       351
cylinder      347
chevron       219
teardrop      207
egg           151
cone           86
cross          86
Name: shape, dtype: int64